/* 
    Document   : simplemind
    Created on : 08/05/2011, 10:58:42 PM
    Author     : Junior
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {font-size:75%;color:#222;background:#bff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}

header {
    padding-top: 20px;
}

/* Links */

a {
    color: #09c;
    text-decoration: none;
}

a:hover {
    color: #069;
    text-decoration: underline;
}

a:visited {
    color: #069;
}

#formDiv {
    float: right;
    background-color: white;
    padding: 0 0.7em;
}

#gameDiv {
    float: left;
    background-color: lightskyblue;
    padding: 0 0.7em;
}

#bigDiv {
    width: 600px;
    border: 1px solid #999;
    background-color: #9999ff;
    height: 600px;
    float: left

}

.round {
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
}

.footer {
    text-align: left;
    margin-top: 20px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: inherit;
    float: left
    
}

div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}