/* 
    Document   : simplemind
    Created on : 08/05/2011, 10:58:42 PM
    Author     : Junior
    Description:
        Purpose of the stylesheet follows.
*/

/*
Borrowed from blueprint
*/

html {font-size:100.01%;}
body {font-size:75%;color:#222;background:#bff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}

.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}

header {
    padding-top: 20px;
}

/* Links */

a {
    color: #09c;
    text-decoration: none;
}

a:hover {
    color: #069;
    text-decoration: underline;
}

a:visited {
    color: #069;
}

.container {
  width: 620px;
}

#formDiv {
    float: right;
    background-color: white;
    padding: 0 0.7em;
}

#gameDiv {
    float: left;
    background-color: lightskyblue;
    padding: 0 0.7em;
}

#bigDiv {
    width: 600px;
    border: 1px solid #999;
    background-color: #9999ff;
    height: 600px;
    float: left

}

.round {
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
}

.footer {
    text-align: left;
    margin-top: 20px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: inherit;
    float: left
    
}

div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}